<app-footer></app-footer>
<div class="row">
  <div class="col-sm-6" *ngFor="let project of projects; let i = index">
    <div class="card-group">
      <div class="card custom-card">
        <div class="img-top-right" *ngIf="project.enabled">
          <button class="btn btn-success">Buy Now</button>
          <p class="price">${{project.price}} / tons</p>
        </div>
        <div class="img-text">{{project.name}}</div>
        <img class="card-img-top " style="height: 12rem ;" src="{{project.imgUrl}}" />
        <div class="card-body">
          <p class="card-text" style="color: #b14040;">{{project.title}}</p>
          <p class="card-text" style="color: green">{{project.weight}} {{project.unit}}</p>
          <p class="card-text">{{project.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>